<launch>
  <!-- Find the youbot_moveit_config package -->
  <arg name="moveit_config_package" default="$(find youbot_moveit_moveit)" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(arg moveit_config_package)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>
  
  <!-- Setup the virtual robot-->
  <include file="$(find youbot_simpack)/launch/setup_robot.launch">
    <arg name="load_robot_description" value="false"/>
    <arg name="use_jsp" value="true"/>
    <arg name="use_gui_for_jsp" value="false"/>
    <arg name="use_rsp" value="true"/>
  </include>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(arg moveit_config_package)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="config" default="true" />
  <arg unless="$(arg config)" name="command_args" value="" />
  <arg     if="$(arg config)" name="command_args" value="-d $(find youbot_simpack)/launch/rviz/navigation_gazebo.rviz" />
  
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
    <rosparam command="load" file="$(arg moveit_config_package)/config/kinematics.yaml"/>
  </node>

  <!-- start navigation simulation -->
  <arg name="map" default="maze.yaml"/>

  <include file="$(find youbot_simpack)/launch/setup_navigation.launch">
    <arg name="run_map_server" value="true"/>
    <arg name="map" value="$(arg map)"/>
    <arg name="publish_fake_odom" value="true"/>
    <arg name="publish_static_map_odom_tf" value="true"/>
  </include>
	 
</launch>
