<launch>
  <arg name="load_robot_description" default="true"/>

  <!-- The name of the parameter under which the URDF is loaded; Name of robot URDF package-->
  <arg name="robot_description" default="robot_description"/>
  <arg name="robot_description_package" default="$(find youbot_description)"/>

  <!-- Run gazebo -->
  <include file="$(find youbot_gazebo_robot)/launch/youbot.launch" >
	<arg name="world" value="empty_world"/>
  </include>

  <!-- Setup the virtual robot-->
  <include file="$(find youbot_simpack)/launch/setup_robot.launch">
    <arg name="load_robot_description" value="false"/>
    <arg name="robot_description_package" value="$(arg robot_description_package)"/>
    <arg name="robot_description" value="$(arg robot_description)"/>
    <arg name="use_jsp" value="false"/>
    <arg name="use_gui_for_jsp" value="false"/>
    <arg name="use_rsp" value="false"/>
  </include>

  <!-- Run RViz with navigation_gazebo.rviz configuration -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
	args="-d $(find youbot_simpack)/launch/rviz/navigation_gazebo.rviz" output="screen">
  </node>

  <!-- start navigation simulation -->
  <arg name="map" default="maze.yaml"/>

  <include file="$(find youbot_simpack)/launch/setup_navigation.launch">
    <arg name="run_map_server" value="true"/>
    <arg name="map" value="$(arg map)"/>
    <arg name="publish_fake_odom" value="false"/>
    <arg name="publish_static_map_odom_tf" value="true"/>
  </include>

</launch>
