<launch>
  <!-- run a map server -->
  <arg name="run_map_server" default="false"/>
  <arg name="map" default="testmap3.yaml"/>
  <arg name="publish_fake_odom" default="false"/>
  <arg name="publish_static_map_odom_tf" default="false"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find youbot_simpack)/map/$(arg map)" if="$(arg run_map_server)"/>

  <!-- publish a TF between /map and /odom -->
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 10" if="$(arg publish_static_map_odom_tf)"/>
  
  <!-- start the fake odometry publisher, which provides TF from /odom to /base_footprint and publishes odom messages based on cmd_vel -->
  <include file="$(find fake_odom_publisher)/launch/youbot_fake_odom.launch" if="$(arg publish_fake_odom)"/>

  <!-- start navigation -->
  <include file="$(find youbot_navigation_global)/launch/move_base_global.launch" />
</launch>
