<?xml version="1.0" ?>

<!-- temoto setup for ur3 consists of:
      1) ur3 robotic arm with its world
      2) end-effectors for working with temoto leap motion
      -->

<robot name="temoto_ur3" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- Include the xacro from our ur3_stewie_support package -->
	<xacro:include filename="$(find ur3_stewie_support)/urdf/stewie_in_crib.xacro"/>

	<!-- A tool link that will serve as the base end effector, instead of tool0. -->
	<!-- The idea is that leap_motion_on_robot has a fixed joint to tool_end_effector and the orientation of tool_end_effector is always such that
	      x is forward,  y is left, and z is up. -->
	<link name="temoto_end_effector" />
	<joint name="ur3-tool_end_effector" type="fixed" >
	  <origin xyz="0.0 ${wrist_3_length} 0.0" rpy="0 ${180*deg} ${-90*deg}"/> <!--place temoto_end_effector at the very end of UR3 -->
<!-- 	  <origin xyz="0 0 0.011" rpy="${-90*deg} ${-90*deg} ${-90*deg}"/> -->
	  <parent link="wrist_3_link" />	<!-- This link is the final physical link of UR3 -->
	  <child link="temoto_end_effector" />
	</joint>
	
	<!-- Leap Motion frame on the robot -->
	<link name="leap_motion_on_robot" />
	<joint name="temoto_end_effector-leap_motion_on_robot" type="fixed" >
	  <origin xyz="0 0 0" rpy="${90*deg} 0 ${-90*deg}" />
	  <parent link="temoto_end_effector" />
	  <child link="leap_motion_on_robot" />
	</joint>	

</robot>




